window.__APP_CONFIG__ = {
  API_BASE_URL: "${API_BASE_URL}",
  MAINTENANCE_MODE: "${MAINTENANCE_MODE}",
  MAINTENANCE_ENABLED: "${MAINTENANCE_ENABLED}",
  ENABLE_MAINTENANCE_PAGE: "${ENABLE_MAINTENANCE_PAGE}"
};
