<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[MyWebApi]*</Include>
          <ExcludeByFile>**/Program.cs,**/ApiDtos.cs,**/MarketDataDtos.cs,**/Dtos/UserDto.cs,**/Services/BinanceMarketDataService.cs,**/Services/SmtpEmailSender.cs,**/Controllers/ExternalController.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
